{% extends 'fosstr_rsvp/base.html' %}

{% load bootstrap3 %}

{% block title %}RSVP Failed{% endblock %}

{% block bootstrap3_content %}
<center>
<div class="alert alert-danger" role="alert">
        <strong>Alas! Your RSVP failed</strong></br>
        Please check if you did one of the following</br>
        <ul>
        	<li>Ensure you completed the reCAPTHA</li>
        	<li>You have not entered a valid email address</li>
        	<li>Your name is of invalid length</li>
        </ul>
    </br>If you continue to face issues. contact us at <code>help at fosstr.org</code>
</div>
<center>
{% endblock %}