{% extends 'fosstr_rsvp/base.html' %}

{% load bootstrap3 %}

{% block title %}Thanks For RSVPing to {{ event.title }}{% endblock %}

{% block bootstrap3_content %}
<center>
<div class="alert alert-success" role="alert">
    <strong>Thanks For RSVPing To {{ event.title }}</strong>
    </br>
        You've been placed on the attendes for the {{ event.title }}</a>.
	</br>
	<a href='static/fosstr-weekly.ics'>Click here</a> to download an iCal invitation for the event
</div>
</center>
{% endblock %}